{% extends '@App/base.html.twig' %}
 {% block content %}
     <div class="container main">

         <div class="starter-template" style="margin-top: 200px;">
             <h1>Nie wiesz czym chcesz sie dziś upić?</h1>
             <h2>Pomożemy - kliknij przynisk poniżej</h2>
             <div>
                 <a href="{{ path('random') }}" class="btn btn-default btn-lg btn-block">Losuj</a>
             </div>

         </div>

     </div>
 {% endblock %}
